{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_sketchpad/view

    Moodle renders a simple view page

    Classes required for JS:
    * sketchpad.js, selectors.js

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title String a page title.
    * width number canvas width in px.
    * height number canvas height in px.

    Example context (json):
        {
         "title": "My heading",
         "width": "600",
         "height": "600"
        }
}}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <canvas id="mod_sketchpad_canvas" width="{{width}}" height="{{height}}"></canvas>
    </div>
    <div class="mod_sketchpad_toolbox">
        <button data-action="mod_sketchpad/increase_button">+</button>
        <span id="mod_sketchpad_size">10</span>
        <button data-action="mod_sketchpad/decrease_button">-</button>
        <input data-action="mod_sketchpad/color_button" type="color" value="black">
        <button data-action="mod_sketchpad/clear_button">X</button>
    </div>
</div>

{{#js}}
    require(['mod_sketchpad/sketchpad'],
        function(module) {
            module.init();
        }
    );
{{/js}}